#title {
    display: flex;
    justify-content: center;
    font-family:Snell Roundhand, cursive;
}

.description {
    display: flex;
    justify-content: center;
    font-family:Snell Roundhand, cursive;
}

.column1 {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    font-size: 40px;
    background-color: rgb(255, 125, 120);
    border-radius: 10px;
    border-color: rgb(255, 125, 120);

}

.column1:hover {
    filter: brightness(0.8);
}

.column2 {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    font-size: 40px;
    background-color: rgb(255, 192, 120);
    border-radius: 10px;
    border-color: rgb(255, 192, 120);
}

.column2:hover {
    filter: brightness(0.8);
}

.column3 {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    font-size: 40px;
    background-color: rgb(255, 246, 120);
    border-radius: 10px;
    border-color: rgb(255, 246, 120);
}

.column3:hover {
    filter: brightness(0.8);
}

.column4 {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    font-size: 40px;
    background-color: rgb(136, 255, 120);
    border-radius: 10px;
    border-color: rgb(136, 255, 120);
}

.column4:hover {
    filter: brightness(0.8);
}

.column5 {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    font-size: 40px;
    background-color: rgb(106, 252, 215);
    border-radius: 10px;
    border-color: rgb(106, 252, 215);
}

.column5:hover {
    filter: brightness(0.8);
}

.column6 {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    font-size: 40px;
    background-color: rgb(120, 167, 255);
    border-radius: 10px;
    border-color: rgb(120, 167, 255);
}

.column6:hover {
    filter: brightness(0.8);
}

#holder {
    display: flex;
    justify-content: center;
    justify-content: space-envenly;
}

.questionholders {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    font-family:Snell Roundhand, cursive;
}